.forgot-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.forgot-banner, .forgot-main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.forgot-banner {
    background: var(--red-color);
}

.b-r-login {
    background: var(--red-color);
    color: var(--white);
    height: 57px;
    border-radius: 10px;
}

.b-r-login:hover {
    background: var(--red-color);
    color: var(--white);
}