<div class="forgot-main">
  <div class="col-md-5 forgot-banner">
    <img src="../../../assets/img/logo-fs.png" class="w-50" alt="Logo">
  </div>
  <div class="col-md-7 forgot-panel">
    <p class="title-h1 text-center">{{ title }}</p>
    <p class="title-h2 l-grey-light text-center">Contáctate con nosotros, a través de:</p>
    <div class="col-md-12 mt-5">
      <div class="col-md-8 offset-md-2">
        <div class="form-floating">
          <input type="email" class="form-control i-text-normal" name="email" id="txtEmail" value="{{ emailFoodStudy }}"
            placeholder="Correo" disabled>
          <label for="txtEmail">Correo</label>
        </div>
      </div>
      <div class="col-md-8 offset-md-2 mt-4">
        <button id="loginRedirect" (click)="loginRedirect()" class="btn b-r-login form-control">Iniciar Sesión</button>
      </div>
    </div>
  </div>