<div class="login-main">
  <div class="col-md-5 login-banner">
    <img src="../../../assets/img/logo-fs.png" class="w-50" alt="Logo">
  </div>
  <div class="col-md-7 login-panel">
    <p class="title-h1 text-center">{{ title }}</p>
    <p class="title-h2 l-grey-light text-center">¿Eres nuevo? <span class="title-h2 l-red">Solicita una cuenta</span>
    </p>
    <div class="col-md-12 mt-5">
      <form #loginForm="ngForm" (ngSubmit)="Submit(loginForm)">
        <div class="col-md-8 offset-md-2">
          <div class="form-floating">
            <input type="email" class="form-control i-text-normal" name="email" id="txtEmail" [(ngModel)]="email" placeholder="Correo">
            <label for="txtEmail">Correo</label>
          </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-4">
          <div class="form-floating">
            <input type="password" class="form-control i-text-normal" name="password" id="txtPassword" [(ngModel)]="password" placeholder="Contraseña">
            <label for="txtPassword">Contraseña</label>
          </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-4">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="cbRememberMe">
            <label class="form-check-label" for="cbRememberMe">Recuérdame</label>
          </div>
        </div>
        <div class="col-md-8 offset-md-2 mt-4">
          <button id="btnSubmit" type="submit" class="btn b-login form-control">Ingresar</button>
        </div>
        <div class="text-center mt-4">
          <a [href]="'auth/forgot'" class="title-h4 l-red ">¿Olvidó su contraseña?</a>
        </div>
      </form>
    </div>
  </div>
</div>