<div class="container-fluid">
  <div class="row">
    <!-- SIDEBAR -->
    <div class="col-1 sidebar text-center">
      <img class="w-75 mt-3" src="../../../assets/img/logo-fs.png" alt="logo">
      <div class="row mt-5">
        <div class="col-12">
          <a [href]="'home/dashboard'">
            <i class="icon-sidebar fa-solid fa-chart-pie"></i>
          </a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <a [href]="'home/products'">
            <i class="icon-sidebar fa-solid fa-burger"></i>
          </a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <i class="icon-sidebar fa-solid fa-tags"></i>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <i class="icon-sidebar fa-solid fa-cart-shopping"></i>
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="col-11 main-content">
      <div class="row navbar-content">
        <nav class="navbar navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand title-h4" [href]="'home/dashboard'">Dashboard</a>
          </div>
        </nav>
      </div>
      <div class="row content">
        DASHBOARD PANEL
      </div>
    </div>
  </div>
</div>